extends layout

block layout-content
  script.
    function getStudentList(userEmail){
      //- e.preventDefault();
      console.log(`/api/customers/all/${userEmail}`);
      $.ajax({
        url: `/api/customers/all/${userEmail}`, 
        async:false,
        success: function(result){
          console.log(result.response.data);
          $("#div1").html(JSON.stringify(result.response.data));
          $("#div2").html(JSON.stringify(result.response.user));
          
        },
        error: function(result){
          console.log(result.responseJSON.response.error);
          $("#div1").html(result.responseJSON.response.error);
          $("#div2").html(JSON.stringify(result.responseJSON.response.user));
        }
      });
    }
  div.View
    h2.Banner Example of Data Encryption Method
    div.Message
      div.Title
        h3 Encrypt Sql Server Column
        h4.Details Access StudentLoans database
    div.NavButtons
      a(href = url)
        button(type="button") #{buttonSpan}
      hr  
      button(onclick=`getStudentList('${userInfo.email}')`) Get list of students
      p Result:
      #div1
        h3 ...
    hr
    p OAuth2 Token: 
    p #{JSON.stringify(userInfo)}
    p User Profile:
    #div2 
      h4 ...
    
    
