extends layout

block layout-content
  script.
    var resultSet = null;
    function getStudentList(userEmail){
      //- e.preventDefault();
      console.log(`/api/customers/all/${userEmail}`);
      $.ajax({
        url: `/api/customers/all/${userEmail}`, 
        async:false,
        success: function(result){
          console.log(result.response.data);
          resultSet = result.response.data;
          $("#div1").html(JSON.stringify(result.response.data));
          $("#div2").html(JSON.stringify(result.response.user));
          listentries = "";
          $.each(result.response.data,function(index,data){
            listentries += `<li>[borrowerid:${data.borrower_id}] * [name:${data.full_name}] * [sin#:${data.sin}]</li>`;   
          })
          $("#liststudents").append(listentries);
          
        },
        error: function(result){
          console.log(result.responseJSON.response.error);
          $("#div1").html(result.responseJSON.response.error);
          $("#div2").html(JSON.stringify(result.responseJSON.response.user));
        }
      });
    }
  div.View
    h2.Banner Example of Data Encryption Method
    div.Message
      div.Title
        h3 Encrypt Sql Server Column
        h4.Details Access StudentLoans database
    div.NavButtons
      a(href = url)
        button(type="button") #{buttonSpan}
      hr  
      button(onclick=`getStudentList('${userInfo.email}')`) Get list of students
      p <b>Result (JSON):</b>
      #div1
        h3 ...
      p <b>Result (Rendered rows):</b>
      ul(id='liststudents')
    hr
    p <b>OAuth2 Token: </b>
    p #{JSON.stringify(userInfo)}
    p <b>User Profile: </b>
    #div2 
      h4 ...
    
    
