extends layout

block layout-content
  script.
    var resultSet = null;
    function getStudentList(userEmail){
      //- e.preventDefault();
      console.log(`/api/customers/all/${userEmail}`);
      $.ajax({
        url: `/api/customers/all/${userEmail}`, 
        async:false,
        success: function(result){
          console.log(result.response.data);
          resultSet = result.response.data;
          $("#div1").html(JSON.stringify(result.response.data));
          $("#div2").html(JSON.stringify(result.response.user));
          tableentries = "";
          $.each(result.response.data,function(index,data){
            tableentries += `<tr><td>${data.borrower_id}</td><td>${data.full_name}</td><td>${data.sin}</td>`;  
            tableentries += `<td>${data.amount}</td><td>${data.ei}</td><td>${data.loantype}</td><td>${data.due_date}</td></tr>`;       
          })
          $("#tablestudents").append("<tr><td><b>Borrower ID</b></td><td><b>Full Name</b></td><td><b>SIN#</b></td><td><b>Amount ($)</b></td><td><b>Education Unit</b></td><td><b>Loan Type</b></td><td><b>Maturity Date</b></td></tr>");
          $("#tablestudents").append(tableentries);
          
        },
        error: function(result){
          console.log(result.responseJSON.response.error);
          var errmsg = result.responseJSON.response.error.replace(" * ","<br/>");
          errmsg = errmsg.replace("Running Query:","<b>Running Query</b>:");
          errmsg = errmsg.replace("Error:","<b>Error</b>:");
          $("#div1").html(errmsg);
          $("#div2").html(JSON.stringify(result.responseJSON.response.user));
        }
      });
    }
  div.View
    h2.Banner Example of Data Encryption Method
    div.Message
      div.Title
        h3 Encrypt Sql Server Column
        h4.Details Access StudentLoans database
    div.NavButtons
      a(href = url)
        button(type="button") #{buttonSpan}
      hr  
      button(onclick=`getStudentList('${userInfo.email}')`) Get list of students
      p <b>Result (JSON):</b>
      #div1
        h3 ...
      p <b>Result (Rendered rows):</b>
      table(id='tablestudents',border="1px")
    hr
    p <b>OAuth2 Token: </b>
    p #{JSON.stringify(userInfo)}
    p <b>User Profile: </b>
    #div2 
      h4 ...
    
    
