extends layout

block layout-content
  script.
    function getStudentList(userEmail){
      //- e.preventDefault();
      console.log(`/api/customers/all/${userEmail}`);
      $.ajax({
        url: `/api/customers/all/${userEmail}`, 
        async:false,
        success: function(result){
          $("#div1").html(JSON.stringify(result.data));
          console.log(JSON.stringify(result.data));
        },
        error: function(result){
          console.log(JSON.stringify(result.responseJSON));
          $("#div1").html(JSON.stringify(result.responseJSON));
        }
      });
    }
  div.View
    h2.Banner Example of Data Encryption Method
    div.Message
      div.Title
        h3 Encrypt Sql Server Column
        h4.Details Access StudentLoans database
    div.NavButtons
      a(href = url)
        button(type="button") #{buttonSpan}
      hr  
      button(onclick=`getStudentList('${userInfo.email}')`) Get list of students
      p Result:
      #div1
        h3 Let jQuery AJAX Change This Text
    hr
    p OAuth2 Token: #{JSON.stringify(userInfo)}
    p User email: #{userInfo.email}
    
    
